In [2]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
import numpy as np
import pandas as pd

df = pd.read_csv(r"C:\Users\marcos.sandovalr\Documents\Marcos Privada\Python Big Data\Python-TensorFlow-for-Machine-Learning-Neural-Network-Text-Classification-Tutorial\base_datos_2008.csv")
df = df.sample(frac=1)
df = df.head(500000)

In [3]:
df = df.dropna(subset=["ArrDelay"])

In [4]:
Y = df["ArrDelay"] > 0

In [5]:
df["Month"] = df["Month"].apply(str)
df["DayofMonth"] = df["DayofMonth"].apply(str)
df["DayOfWeek"] = df["DayOfWeek"].apply(str)
df["TailNum"] = df["TailNum"].apply(str)

x = pd.get_dummies(data=df[["Month","DayofMonth","DayOfWeek","Origin","Dest","UniqueCarrier"]])

In [7]:
x.head()

,Month_1,Month_10,Month_11,Month_12,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,...,UniqueCarrier_HA,UniqueCarrier_MQ,UniqueCarrier_NW,UniqueCarrier_OH,UniqueCarrier_OO,UniqueCarrier_UA,UniqueCarrier_US,UniqueCarrier_WN,UniqueCarrier_XE,UniqueCarrier_YV
2717814,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5125063,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
444508,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3041453,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2172923,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [8]:
clf = BernoulliNB()
clf.fit(x,Y)
Y_pred = clf.predict(x)

In [9]:
np.mean(Y == Y_pred)

0.592753009695237

In [10]:
1 - np.mean(Y)

0.5660885516039779

In [13]:
X = df[["AirTime","Distance","TaxiIn","TaxiOut","DepDelay"]]
clf = GaussianNB()
clf.fit(X,Y)
Y_pred = clf.predict(X)

In [14]:
np.mean(Y == Y_pred)

0.8053018079643683