In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r"C:\Users\marcos.sandovalr\Documents\Marcos Privada\Python Big Data\Python-TensorFlow-for-Machine-Learning-Neural-Network-Text-Classification-Tutorial\Eventos-US.xlsx")
df['Duracion Evento'] =  (df['Fecha Fin'] - df['Fecha Inicio'])
df.head(20)

,Nombre,Desastre,Fecha Inicio,Fecha Fin,Costo Millones de Dolares,Muertes,Duracion Evento
0,Southern Severe Storms and Flooding (April 1980),Flooding,1980-04-10,1980-04-17,2473.8,7.0,7 days
1,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2012.0,13.0,4 days
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,1980-06-01,1980-11-30,36573.0,1260.0,182 days
3,Florida Freeze (January 1981),Freeze,1981-01-12,1981-01-14,1864.7,0.0,2 days
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1268.6,20.0,5 days
5,"Midwest/Southeast/Northeast Winter Storm, Cold...",Winter Storm,1982-01-08,1982-01-16,1992.7,85.0,8 days
6,Midwest/Plains/Southeast Tornadoes (April 1982),Severe Storm,1982-04-02,1982-04-04,1444.8,33.0,2 days
7,Severe Storms (June 1982),Severe Storm,1982-05-31,1982-06-10,1420.6,30.0,10 days
8,Gulf States Storms and Flooding (December 1982...,Flooding,1982-12-01,1983-01-15,4454.6,45.0,45 days
9,Western Storms and Flooding (December 1982-Mar...,Flooding,1982-12-13,1983-03-31,4348.9,50.0,108 days
10,Hurricane Alicia (August 1983),Tropical Cyclone,1983-08-17,1983-08-20,8490.0,21.0,3 days
11,Southeast Drought (Summer 1983),Drought,1983-06-01,1983-08-31,8595.9,0.0,91 days
12,Freeze / Cold Wave (December 1983),Freeze,1983-12-15,1983-12-25,5816.9,151.0,10 days
13,"Tornadoes, Severe Storms, Floods (Spring 1984)",Severe Storm,1984-03-27,1984-04-07,1670.5,80.0,11 days
14,Severe Storms and Hail (June 1984),Severe Storm,1984-06-13,1984-06-17,1222.6,1.0,4 days
15,"Winter Storm, Cold Wave (January 1985)",Winter Storm,1985-01-19,1985-01-22,2251.3,150.0,3 days
16,Florida Freeze (January 1985),Freeze,1985-01-20,1985-01-22,3228.0,0.0,2 days
17,Ohio and Pennsylvania Tornado Outbreak (June 1...,Severe Storm,1985-05-31,1985-05-31,1584.0,89.0,0 days
18,Hurricane Elena (September 1985),Tropical Cyclone,1985-08-30,1985-09-03,3412.1,4.0,4 days
19,Hurricane Gloria (September 1985),Tropical Cyclone,1985-09-26,1985-09-28,2242.9,11.0,2 days

In [3]:
x = df["Costo Millones de Dolares"]
Q1 = np.percentile(x,25)
Q3 = np.percentile(x,75)
rangointer = Q3 - Q1

In [4]:
umbralsuperior = Q3 + 1.5*rangointer
umbralinferior = Q1 - 1.5*rangointer

In [5]:
umbralsuperior

9567.275000000001

In [6]:
umbralinferior

-3320.525

In [8]:
np.mean(x > umbralsuperior) * 100

13.312693498452013

In [10]:
np.mean(x < umbralinferior) * 100

0.0

In [12]:
from sklearn.covariance import EllipticEnvelope

In [13]:
outliers = EllipticEnvelope(contamination=.01)

In [17]:
var_list = ["Muertes", "Costo Millones de Dolares"]

In [18]:
x = np.array(df.loc[:,var_list].dropna())

In [19]:
outliers.fit(x)

EllipticEnvelope(contamination=0.01)

In [20]:
pred = outliers.predict(x)

In [21]:
pred

array([ 1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [22]:
elips_outliers = np.where(pred == -1)

In [23]:
elips_outliers

(array([  2,  62, 115, 249], dtype=int64),)